<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623204910695-9utjscocnts2f0cqup3f2vs5jt7mah7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623204910695-9utjscocnts2f0cqup3f2vs5jt7mah7h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>623204910695-56j66qhd4u2888qfe14tkt9e2eumv2k2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCLh4Bkc-qTY8q1YrhIS-Rar5YGr_Kw_WU</string>
	<key>GCM_SENDER_ID</key>
	<string>623204910695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelApp</string>
	<key>PROJECT_ID</key>
	<string>foodshop-c3341</string>
	<key>STORAGE_BUCKET</key>
	<string>foodshop-c3341.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623204910695:ios:479e3bdb8cb7cb8393f6c2</string>
	<key>DATABASE_URL</key>
	<string>https://foodshop-c3341-default-rtdb.firebaseio.com</string>
</dict>
</plist>